{% load catalog_tags %}

<div class="card" style="width: 18rem;">
    <img src="{% mediapath object.preview %}" class="card-img-top" style="{with: 200px}"
         title="{{ object.author }} - {{ object.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ object.author }} - {{ object.name }}</h5>
        <p class="card-text">Категория: {{ object.category }}</p>
        <p class="card-text">{{ object.description|slice:":100" }}</p>
        <p class="card-text">{{ object.price }} руб.</p>
        {% for version in object.version_set.all %}
            {% if version.is_active %}
                <p class="card-text">Версия: {{ version.version_name }} </p>
                <p class="card-text">Номер версии: {{ version.version_number }} </p>
            {% endif %}
        {% endfor %}
        <a href="{% url 'catalog:product_detail' object.slug %}" class="btn btn-primary">Подробнее</a>
        <a href="{% url 'catalog:product_update' object.slug %}" class="btn btn-primary">Изменить</a>
        <a href="{% url 'catalog:product_delete' object.slug %}" class="btn btn-primary">Удалить</a>
    </div>
</div>